config.py
__pycache__/
*.pyc
*.pyo
build/
build_server/
dist/electron-packed/
dist/mac-packed/
dist/installer/
dist/mac/
builds/electron/node_modules/
builds/electron/resources/server.exe
builds/electron/resources/server
builds/electron/resources/ffmpeg.exe
builds/electron/resources/ffprobe.exe
builds/electron/resources/ffmpeg
builds/electron/resources/ffprobe
builds/electron/app_resources/
builds/electron/resources_tmp/
builds/electron/icon.iconset/
builds/electron/icon.icns
*.log
